body {
    display: flex;
    justify-content: center;
    align-items: center; /* Выравнивание по центру вертикально */
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    padding: 20px;
}

.login-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center; /* Центрируем заголовок */
}

.alert {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 3px;
    margin-bottom: 20px;
    font-size: 14px;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    font-size: 14px;
    color: #333;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.forgot-password {
    display: block;
    text-align: left;
    margin-top: 10px;
    font-size: 14px;
    color: #004394;
    text-decoration: none;
}

button {
    width: 100%; /* Устанавливаем ширину на 100% */
    padding: 10px;
    background-color: #004394;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #003366;
}

.forgot-password:hover {
    text-decoration: underline;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

.first-time {
    margin-top: 20px;
}

.first-time h4 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.first-time p, .first-time ul li {
    font-size: 14px;
    color: #333;
}

.first-time ul {
    background-color: #f8f9fa;
    padding: 10px;
    border-left: 4px solid #6c757d;
    list-style: none;
    margin: 0;
}

.first-time ul li {
    margin-bottom: 5px;
}

.first-time ul li:last-child {
    margin-bottom: 0;
}
